# The variables added in this file are only available locally in MiniOxygen.
# Run `npx shopify hydrogen link` to also inject environment variables from your storefront,
# or `npx shopify hydrogen env pull` to populate this file.

PUBLIC_STOREFRONT_ID                    1000161113
PUBLIC_STOREFRONT_API_TOKEN            5b54371ce3c7dc85e67c0bfa82abcbb7
PUBLIC_STORE_DOMAIN                    031qta-pc.myshopify.com
PRIVATE_STOREFRONT_API_TOKEN            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
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID   393bbe35-7d4e-45b9-8e53-1647a549e721
PUBLIC_CUSTOMER_ACCOUNT_API_URL        https://shopify.com/84055261218
SHOP_ID                                 84055261218
SESSION_SECRET                         bcb05bb2eaa5453716f9737d535b72ac62aacf01

